html {
	overflow-y: scroll;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

table {
	border-spacing: 0px;
	border        : 1px solid #333;
	margin-left   : auto;
	margin-right  : auto;
}

table,
th,
td {
	font-family: Consolas, Microsoft JhengHei;
	border     : 1px solid black;
}

td {
	text-align: center;
	width     : 100px;
	height    : 120px;
	font-size : 16px;
}

.warn,
.group,
.formula,
.description {
	width         : 600px;
	height        : 35px;
	padding-left  : 20px;
	padding-right : 20px;
	padding-top   : 1px;
	padding-bottom: 1px;
}

.warn {
	background-color: #dbedff;
}

.group {
	background-color: #ffdbdb;
	width           : 100px;
}

.name {
	background-color: #ffffdb;
	height          : 70px;
}

.img {
	background-color: #dbffdb;
	height          : 70px;
}

.formula {
	background-color: #dbffff;
	text-align      : left;
}

.description {
	background-color: #dbdbff;
	text-align      : left;
}

.alg {
	background-color: #ffdbff;
	line-height     : 0px;
	height          : 70px;
	padding         : 0px;
}

.alg iframe {
	width : 150px;
	height: 150px;
	border: none;
}

#refpiece {
	position: absolute;
	opacity : 0;
	z-index : -10;
}

#loadpage {
	border: 0px solid #333;
}

#loadpage td {
	border: 0px solid #333;
	width : 120px;
	height: auto;
}

#loadpage button {
	font-family: Consolas, Microsoft JhengHei;
	width      : 110px;
	height     : 30px;
	font-size  : 16px;
}